<footer class="footer">
  <div class="wrapper container">
    <section class="section">
      <h5 class="title">MAPA DO SITE</h5>
      <ul>
        <li>Entenda Tudo Sobre</li>
        <li>Fake News</li>
        <li>Mapa De Infecção</li>
      </ul>
    </section>

    <section class="section">
      <h5 class="title">DESENVOLVIDO COM ❤️ POR:</h5>
      <ul>
        <li>
          <span>Maurício Munhoz</span>
          <div class="contact">
              <a href="#" target="_blank">O</a>
          </div>
        </li>
        <li>
          <span>Marcelle sobrenome</span>
          <div class="contact">
              <a href="#" target="_blank">O</a>
          </div>
        </li>
        <li>
          <span>Nathália Lopes</span>
          <div class="contact">
              <a href="#" target="_blank">O</a>
          </div>
        </li>
        <li>
          <span>Brayan Kurahara</span>
          <div class="contact">
              <a href="#" target="_blank">O</a>
          </div>
        </li>
        <li>
          <span>Lucas Cordeiro</span>
          <div class="contact">
              <a href="#" target="_blank">O</a>
          </div>
        </li>
        <li>
          <span>Vitor Takara</span>
          <div class="contact">
              <a href="#" target="_blank">O</a>
          </div>
        </li>
      </ul>
    </section>

    <section class="section _text-center">
      <button class="btn" type="button">DENUNCIE AS FAKE NEWS AQUI!</button>
      <div class="logo">
        <img src="">
      </div>
    </section>
  </div>
</footer>