<footer class="footer">
  <div class="container title-wrapper">
    <h5 class="title">DESENVOLVIDO COM ❤️ POR:</h5>
  </div>

  <div class="wrapper container">
    <section class="section names">
      <div class="names-1">
      
      <ul>
        <li>
          <span>Maurício Munhoz</span>
          <div class="contact">
            <a href="https://www.instagram.com/maumunhoz52/" target="_blank" class="icon-instagram icon"></a>
            <a href="https://www.linkedin.com/in/mauriciomunhoz/" target="_blank" class="icon-linkedin icon"></a>
          </div>
        </li>
        <li>
          <span>Marcelle Muniz</span>
          <div class="contact">
            <a href="https://www.instagram.com/marcellemuniz/" target="_blank" class="icon-instagram icon"></a>
            <a href="https://www.linkedin.com/in/marcellemuniz" target="_blank" class="icon-linkedin icon"></a>
          </div>
        </li>
        <li>
          <span>Lucas Cordeiro</span>
          <div class="contact">
            <a href="https://www.instagram.com/lucas.a.c/" target="_blank" class="icon-instagram icon"></a>
            <a href="https://www.linkedin.com/in/lacordeiro/" target="_blank" class="icon-linkedin icon"></a>
          </div>
        </li>

      </ul>
    </div>

    <div class="names-2">
      <ul>
        <li>
          <span>Nathália Lopes</span>
          <div class="contact">
            <a href="https://www.facebook.com/nathalia.lopescoimbra" target="_blank" class="icon-facebook icon"></a>
            <a href="https://www.linkedin.com/in/nathalialcoimbra" target="_blank" class="icon-linkedin icon"></a>
          </div>
        </li>
        <li>
          <span>Vitor Takara</span>
          <div class="contact">
            <a href="https://www.facebook.com/VitorTakara" target="_blank" class="icon-facebook icon"></a>
            <a href="https://www.linkedin.com/in/vitortakara/" target="_blank" class="icon-linkedin icon"></a>
          </div>
        </li>
        <li>
          <span>Brayan Kurahara</span>
          <div class="contact">
            <a href="https://www.facebook.com/bkurahara/" target="_blank" class="icon-facebook icon"></a>
            <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K8291805P4" target="_blank" class="icon-linkedin icon"></a>
          </div>
        </li>
        <li>
          <span>Lucas Keven</span>
          <div class="contact">
            <a href="https://www.facebook.com/lucas.keven" target="_blank" class="icon-facebook icon"></a>
            <a href="https://www.linkedin.com/in/lucas-keven-931325104/" target="_blank" class="icon-linkedin icon"></a>
          </div>
        </li>
      </ul>
    </div>
    </section>

    <section class="section button _text-center">
      <button class="btn" type="button"
        onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSfayn6fvTKbGFbpYJnKIlAajF8EKFhSHqYEql-Aw3Pi6x00xw/viewform?usp=sf_link')">DENUNCIE
        AS FAKE NEWS AQUI!</button>
      <div class="logo">
        <img src="">
      </div>
    </section>
  </div>
</footer>