@import '../../styles/variables.scss';

.disclaimer{
    margin-top: 20px;
    padding: 10px;
    color: $color-primary;
    background: #0023ff14;
    border-radius: 7px;
    cursor: pointer;
    line-height: 20px;
    transition: background .5s;

    &:hover{
        background: #0022ff23;
    }
}