<article class="guide-detail container">
  <div class="header">
    <h1 class="title">{{ guide?.id }}. {{ guide?.title }}</h1>
    <h2 class="subtitle">{{ guide?.subtitle }}</h2>
    <time class="time">{{ guide?.date | date }} - {{ guide?.readTime }} min de leitura</time>
  </div>

  <div class="upper-thumb">
    <div class="listen">
      <span class="text">OUÇA AGORA</span>
      <i class="play">O</i>
    </div>


    <div class="share">
      <a [href]="shareBtn.link" *ngFor="let shareBtn of guide?.shareButtons">{{ shareBtn.icon }}</a>
    </div>
  </div>

    <div class="thumb">
      <div class="img-wrapper">
        <img class="img" [src]="guide?.thumb?.img">
      </div>
      <p class="description">IMG: {{ guide?.thumb?.description}}</p>
    </div>

    <div class="guide">
      <p class="paragraph" *ngFor="let p of guide?.paragraphs" [class.-is-step]="p.step" [class.-is-last-step]="p.isLastStep">
        <span class="step" *ngIf="p.step">{{p.step}}</span> {{p.paragraph}}</p>
    </div>

    <h5 class="small-title">REFERÊNCIAS</h5>
    <ul class="references">
      <li *ngFor="let link of guide?.references"><a [href]="link" target="_blank"></a></li>
    </ul>

    <div class="share-next">
      <div class="share">
        <h5 class="small-title">COMPARTILHE E AJUDE</h5>
        <div class="share">
          <a [href]="shareBtn.link" *ngFor="let shareBtn of guide?.shareButtons">{{ shareBtn.icon }}</a>
        </div>
      </div>

      <a class="next" [href]="'#/' + nextGuide?.link">
        <button class="btn" type="button">
          {{ nextGuide?.id }}. {{ nextGuide?.title }} 
        </button>
      </a>
    </div>
  
</article>