<span style="display: none" routerLink="/guia" routerLinkActive #guia="routerLinkActive"></span>
<span style="display: none"  routerLink="/home" routerLinkActive #home="routerLinkActive"></span>

<ng-template #links>
  <a class="link" routerLink="/home" [ngClass]="{'-active': guia.isActive || home.isActive }">ENTENDA TUDO SOBRE</a>
  <a class="link" routerLink="/fakenews" routerLinkActive="-active">FAKE NEWS</a>
  <a class="link" routerLink="/mapa" routerLinkActive="-active">MAPA</a>
</ng-template>

<header class="menu fadeIn">
  <div class="wrapper container">
    <div class="logo" [routerLink]="['/home']">
      <img class="image" src="../../assets/images/logo_guia_covid.svg">
    </div>

    <nav class="links-desktop">
      <ng-container *ngTemplateOutlet="links"></ng-container>
    </nav>

    <nav class="menu-mobile" [class.-active]="menuAberto">
      <app-hamburger-icon (click)="openMenu()" [menuAberto]="menuAberto"></app-hamburger-icon>
      <nav class="links-mobile">
        <ng-container *ngTemplateOutlet="links"></ng-container>
      </nav>
    </nav>
  </div>
</header>