.btn{
    background: $color-primary;
    color: white;
    font-size: 24px;
    text-align: left;
    max-width: 300px;
    font-weight: 800;
    border: none;
    border-radius: 3px;
    padding: 15px 30px;
    transition: .2s;
    cursor: pointer;
    outline: none;

    &:hover{
        background: darken($color-primary, 5%);
    }
}