.footer {
  background: $color-secondary;
  color: white;

  >.wrapper {
    padding: 50px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1.7fr;
    grid-gap: 70px;

    >.section {

      >.title {
        font-weight: 800;
        margin-bottom: 25px;

      }

      >ul>li {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}