html,
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: $color-secondary;
  min-height: 100vh;
  overflow: auto;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-content {
  padding: 15px 0;

  @media (min-width: $large-mobile) {
    padding: 20px 0;
  }
}

::-webkit-scrollbar {
  width: 7px
}

::-webkit-scrollbar-track {
  background: #dddddd;
  border-radius: 10px
}

::-webkit-scrollbar-thumb {
  background: #242424;
  border-radius: 10px
}

.container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 0 10px;
    max-width: calc(#{$tablet} + 100px);
  }

  @media (min-width: $laptop) {
    max-width: calc(#{$laptop} + 100px);
  }

  @media (min-width: $desktop) {
    max-width: calc(#{$desktop} + 100px);
  }

  @media (min-width: $large-desktop) {
    max-width: calc(#{$large-desktop} + 100px);
  }
}