<div class="home fadeIn">
  <section class="start">
    <div class="main">
      <div class="title-subtitle">
        <h1 class="title">ENTENDA TUDO SOBRE O COVID-19</h1>
        <span class="subtitle">TUDO O QUE VOCÊ PRECISA SABER DE MANEIRA SIMPLES, OBJETIVA E ENRIQUECEDORA</span>
      </div>

      <!-- Guide -->
      <section class="small-cards">
        <article class="card" *ngFor="let guide of guides" [routerLink]="['/guia', guide.id]">
          <div class="thumbnail">
            <img class="image" [src]="guide.thumb" [alt]="guide.alt">
          </div>

          <div class="info">
            <h3 class="title">{{ guide.title }}</h3>
            <p class="description">{{ guide.description }}</p>
            <span class="link">LER MAIS</span>
          </div>
        </article>
      </section>
    </div>


    <!-- Fake news e Mapa Interativo-->
    <div class="aside">
      <aside class="aside-cards" *ngFor="let asideItem of asideItems">
        <article class="card">
          <img class="background-img" [alt]="asideItem.alt" [src]="asideItem.thumb">
          <div class="title-description">
            <h3 class="title">{{ asideItem.title }}</h3>
            <p class="description">{{ asideItem.subtitle }}</p>
          </div>
          <span class="read-more">LER MAIS</span>
        </article>
      </aside>
    </div>
  </section>
</div>