<div class="home">
  <section class="start">
    <div class="main">
      <div class="title-subtitle">
        <h1 class="title">MUITO DO QUE VOCÊ PRECISA SABER SOBRE COVID-19</h1>
        <span class="subtitle">UM GUIA DE SOBREVIVÊNCIA AO COVID-19. SAIBA O QUE FAZER EM CADA SITUAÇÃO</span>
      </div>

      <section class="small-cards">
        <article class="card" *ngFor="let item of [1,2,3,4,5,6]">
          <div class="thumbnail">
            <img class="image" src="http://placekitten.com/300/300">
          </div>

          <div class="info">
            <h3 class="title">Lorem ipsum dolor sit?</h3>
            <p class="description">Lorem, ipsum dolor sit amet consect etur adipisi cing elit. Arc hitecto, cupiditate??</p>
            <a href="#" class="link">LER MAIS</a>
          </div>
        </article>
      </section>
    </div>

    <div class="aside">
      <aside class="aside-cards" >
        <article class="card" *ngFor="let item of [1,2]">
          <div class="title-description">
            <h3 class="title">Lorem ipsum dolor sit?</h3>
            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, cupiditate?</p>
          </div>
        </article>
      </aside>
    </div>
  </section>
</div>